
body{
  width:1920px;
  height: 1080px;
  margin: 0 auto;
}
.china-map, .contain{
  transition:All 1s ease-in-out;
  -webkit-transition:All 1s ease-in-out;
  -moz-transition:All 1s ease-in-out;
  -o-transition:All 1s ease-in-out;
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  z-index: 999;
}

.china-map.show,.contain.show {
  transform:scale(1);
  -webkit-transform:scale(1);
  -moz-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
}

.decorate {
  position: relative;
}

.decorate-1 {
  background: url("../img/decorate/decorate-1.png");
  width: 988px;
  height: 144px;
  position: absolute;
  bottom: 242px;
  right: 377px;

  transition:All 1s ease-in-out;
  -webkit-transition:All 1s ease-in-out;
  -moz-transition:All 1s ease-in-out;
  -o-transition:All 1s ease-in-out;
  /* transform:translateX(100%);
  -webkit-transform:translateX(100%);
  -moz-transform:translateX(100%);
  -o-transform:translateX(100%);
  -ms-transform:translateX(100%); */
  animation:decorate-5 30s infinite;
  opacity: 1;
}

@keyframes decorate-1
{
  0% {
      transform:translateX(60%);
      opacity: 0;
  }
  50% {
      transform:translateX(-60%);
      opacity: 2;
  }
  100% {
    transform:translateX(60%);
    opacity: 0;
  }
}


.decorate-2 {
    background: url(../img/decorate/decorate-2.png);
    width: 878px;
    height: 203px;
    position: absolute;
    bottom: 110px;
    right: 270px;
    /* opacity: 0.2; */
    transform: scale(0.2);
     transform:translateX(60%);
    animation: decorate-2 100s infinite;
    opacity: 0.7;
}

@keyframes decorate-2
{
    0% {
       
    transform: scale(0.2) translateX(60%);
  }
  50% {
     transform: scale(1) translateX(-20%);
  }
  100% {
    
     transform: scale(0.2) translateX(60%);
  }
}

.decorate-3 {
  background: url(../img/decorate/decorate-3.png);
  width: 827px;
  height: 121px;
  position: absolute;
  bottom: 226px;
  right: 606px;
  animation:decorate-5 40s infinite;
}

.decorate-4 {
  background: url(../img/decorate/decorate-4.png);
  width: 887px;
  height: 387px;
  position: absolute;
  bottom: 38px;
  left: 70px;
  animation:decorate-5 45s infinite;
}

.decorate-5 {
  background: url(../img/decorate/decorate-5.png);
  width: 730px;
  height: 730px;
  position: absolute;
  top: 50%;
  margin-left: -365px;
  left: 50%;
  margin-top: -860px;
}



.decorate-6 {
    background: url(../img/decorate/decorate-6.png);
    width: 502px;
    height: 502px;
    position: absolute;
    top: 50%;
    margin-left: -251px;
    left: 50%;
    margin-top: -732px;
    
}

.decorate-5,.decorate-6 {
  transition:All 1s ease-in-out;
  -webkit-transition:All 1s ease-in-out;
  -moz-transition:All 1s ease-in-out;
  -o-transition:All 1s ease-in-out;
  transform:scale(0.8);
  -webkit-transform:scale(0.8);
  -moz-transform:scale(0.8);
  -o-transform:scale(0.8);
  -ms-transform:scale(0.8);
  animation:decorate-5 50s infinite;
}

@keyframes decorate-5
{
 

   0% {
       transform:scale(0.8);
  }
  50% {
      transform:scale(1);
  }
  100% {
     transform:scale(0.8);
  }
}

