
.contain {
    width: 1920px;
    height: 100%;
    position: relative;
    margin:0 auto;
    /*padding-top: 20px;*/
  /* background: url("../img/background1.png") no-repeat;
  background-size: 100% 100%; */
}
.wrapper{
    width: 1870px;
    height: 1080px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    padding-top: 100px;
}
.col-1{
  width:440px;
  height: 100%;
    z-index: 9;
}
.col-2{
    width: 990px;
    height: 100%;
    margin:0 auto;
    position:relative;
}
.fl {
  float: left;
}
.ml-1{
  margin-left: 10px;
}
.mt-1{
  margin-top: 10px;
}
.ml-2{
  margin-left: 20px;
}
.mt-2{
  margin-top: 20px;
}
.system-title{
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    position:absolute;
    z-index: 9;
}
.system-title-1{
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    position: absolute;
}
.left-up{
  width: 100%;
  height: 270px;
  background: url("../img/left_up.png") center / cover no-repeat;
  margin-bottom: 16px;
}
.left-up.hei300 {
    height: 308px;
}
.left-down{
  width: 100%;
  height: 585px;
  font-size: 16px;
  color: rgb(82,207,255);
  background: url("../img/left_down.png") no-repeat;
}
.left-3-1{
    width: 100%;
    height: 334px;
    position: relative;
    font-size: 16px;
    color: rgb(82,207,255);
    background: url("../img/gauge_bg.png") no-repeat;
    background-size: 100% 100%;
}
.left-3-2{
    width: 100%;
    height: 277px;
    position: relative;
    font-size: 16px;
    color: rgb(82,207,255);
    background: url("../img/ssfh_bg.png") no-repeat;
        margin-top: 20px;
}
.left-3-3{
    width: 100%;
    height: 258px;
    position: relative;
    font-size: 16px;
    color: rgb(82,207,255);
    background: url("../img/gauge_bg.png") no-repeat;
}
.right-2-1{
    width: 100%;
    height: 378px;
    position: relative;
    font-size: 16px;
    color: rgb(82,207,255);
    background: url("../img/dayFh_bg.png") no-repeat;
}
.right-2-2{
    width: 100%;
    height: 378px;
    position: relative;
    font-size: 16px;
    color: rgb(82,207,255);
    background: url("../img/device.png") no-repeat;
}
.sub-title{
  width: 149px;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  background: url("../img/sub_title.png") no-repeat;
}
.sub-title-content {
  color: #52cfff;
  font-size: 16px;
  font-weight: bold;
  height: 33px;
  line-height: 33px;
  text-align: center;
}
.sub-title-content:hover{
    cursor: pointer;
}
.left-down-content{
  width: 328px;
  height: 515px;
  margin: 10px auto 0;
}
.introduce-content{
    margin-top: 15px;
    height:90px;
}
.power-data{
  margin-top: 20px;
}
.power-data>p {
  margin-bottom: 5px;
  width: 50%
}
.power-link{
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    border: 1px solid rgb(1,70,109);
    cursor: pointer;
}
.img-icon {
  float: right;
  margin-right: 5px;
  margin-top: 12px;
}
.group-row{
  width: 100%;
  height: 26px;
  margin-left: 30px;
  margin-bottom: 10px;
}
.group-col-1{
  width: 80px;
  height: 26px;
  line-height: 26px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #2a3a8d;
}
.group-col-2 {
  margin-left: 60px;
  height: 26px;
  display: inline-block;
}
.group-col-3 {
  margin-left: 60px;
  height: 26px;
  line-height: 26px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
/*
.group-col-2 {
  margin-left: 60px;
  height: 40px;
  display: inline-block;
}
.group-col-3 {
  margin-left: 60px;
  height: 40px;
  line-height: 47px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
*/
.group-circle-1,
.group-circle-2,
.group-circle-3,
.group-circle-4,
.group-circle-5,
.group-circle-6,
.group-circle-7 {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../img/green1.png") center / cover no-repeat;
    margin-top: 2px;
}
.group-circle-2 {
    background: url("../img/green2.png") center / cover no-repeat;
}
.group-circle-3 {
    background: url("../img/green3.png") center / cover no-repeat;
}
.group-circle-4 {
    background: url("../img/green4.png") center / cover no-repeat;
}
.group-circle-5 {
    background: url("../img/green5.png") center / cover no-repeat;
}
.group-circle-6 {
    background: url("../img/green6.png") center / cover no-repeat;
}
.group-circle-7 {
    background: url("../img/green7.png") center / cover no-repeat;
}
/*
.group-circle-1 {
    display: inline-block;
    width: 24px;
    height: 30px;
    background: url("../img/green1.png") no-repeat;
    background-size: cover;
    margin-top: 6px;
}
.group-circle-2 {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../img/green2.png") no-repeat;
    background-size: cover;
    margin-top: 6px;
}
.group-circle-3 {
    display: inline-block;
    width: 30px;
    height:30px;
    background: url("../img/green3.png") no-repeat;
    background-size: cover;
    margin-top: 6px;
}
.group-circle-4 {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../img/green4.png") no-repeat;
    background-size: cover;
    margin-top: 6px;
}
.group-circle-5 {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../img/green5.png") no-repeat;
    background-size: cover;
    margin-top: 6px;
}
.group-circle-6 {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../img/green6.png") no-repeat;
    background-size: cover;
    margin-top: 6px;
}
.group-circle-7 {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../img/green7.png") no-repeat;
    background-size: cover;
    margin-top: 6px;
}
*/
.group-status-1,
.group-status-2,
.group-status-3,
.group-status-4,
.group-status-5,
.group-status-6,
.group-status-7 {
    display: inline-block;
    color:#c3071a;
    font-size: 16px;
    line-height: 26px;
    margin-left: 10px;
}
.group-status-2{
    color:#09d212;
}
.group-status-3{
    color:#09d212;
}
.group-status-4{
    color:#e8feff;
}
.group-status-5{
    color:#0011cb;
}
.group-status-6{
    color:#afd013;
}
.group-status-7{
    color:#527173;
}
/*.group-status-1{
    display: inline-block;
    color:#c3071a;
    font-size: 16px;
    line-height: 26px;
    margin-left: 10px;
}
.group-status-2{
    display: inline-block;
    color:#09d212;
    font-size: 18px;
    line-height: 47px;
    margin-left: 10px;
}
.group-status-3{
    display: inline-block;
    color: #09d212;
    font-size: 18px;
    line-height: 47px;
    margin-left: 10px;
}
.group-status-4{
    display: inline-block;
    color: #e8feff;
    font-size: 18px;
    line-height: 47px;
    margin-left: 10px;
}
.group-status-5{
    display: inline-block;
    color:#0011cb;
    font-size: 18px;
    line-height: 47px;
    margin-left: 10px;
}
.group-status-6{
    display: inline-block;
    color:#afd013 ;
    font-size: 18px;
    line-height: 47px;
    margin-left: 10px;
}
.group-status-7{
    display: inline-block;
    color: #527173;
    font-size: 18px;
    line-height: 47px;
    margin-left: 10px;
}*/
/*.group-circle-running {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url("../img/running_icon.png") no-repeat;
}
.group-status-running{
    display: inline-block;
    color: rgb(255,0,0);
    font-size: 18px;
    line-height: 47px;
    margin-left: 10px;
}*/
.top-box{
  width: 940px;
  height: 140px;
  position: absolute;
  left:490px;
    top:100px;
  z-index: 9;
}
.top-box-1{
    width: 1020px;
    height: 140px;
    position: absolute;
    left:450px;
    top:-1020px;
    z-index: 9;
    padding-top:12px;
    padding-left: 20px;
    background: url("../img/top_bg.png") no-repeat;
}
.top-box-wrap{
    width: 220px;
    height: 140px;
    position: relative;
    background-color: rgba(21,27,86,0.6);
    border: 1px solid rgb(37,169,234);
}
.sub-top-title{
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    color: darkgrey;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgb(7, 131, 226);
}
.sub-top-value{
    text-align: center;
    position: absolute;
    font-size: 30px;
    color: #fff;
    width: 100%;
    top: 70px;

}
tr{
    height:34px;
    line-height: 34px;
}
 .industry-group-table {
    width: 98%;
    height: 100%;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}
.industry-group-table tr{
    cursor: pointer;
}
.industry-group-table-1 {
    width: 93%;
    height: 100%;
    color: #fff;
    text-align: center;
    margin-left: 6%;
    font-size:13px ;
}
.industry-group-table-2 {
    width: 98%;
    height: auto;
    color: #fff;
    text-align: center;
    margin: 68px auto 0;
    border: 1px solid #0994e5;
}
.industry-group-table-1 thead {
    height:35px;
    line-height: 35px;
}
.industry-group-table-1 tr {
    border-bottom: 1px solid #0994e5;
}
.industry-group-table-2 tr {
    border-bottom: 1px solid #0994e5;
}
.td-1{
  color: rgb(78,199,215);
  padding-left: 10px

}
.td-2{
  border:0.5px solid #000;
  width: 96%;
  display: inline-block;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
}
.status-danger{
  background-color: #ff0000;
}
.status-attention{
  background-color: #a76b27;
}
.font-3{
  color: #ff0000;
}
.font-2{
  color: #a76b27;
}
/*  .industry-group-table>thead {
   line-height: 40px;
   background-color: #3c82b0;
}*/
.industry-group-table td {
 text-align: left;
}
.back-map {
    font-size: 14px;
    color: #fff;
    position: absolute;
    right: 10px;
    top:150px;
    z-index: 19;
    display: none;
}
.top-active {
    /*transform:translateY(-1000px);*/
    transform: scale(0);
    transition: all 1s;
}
.top-active-show {
    transform: scale(1);
    transition: all 1s;
}
.top-1-active {
    transform:translateY(-1120px);

    transition: all 1s;
}
.top-1-active-show {
    transform:translateY(1120px);

    transition: all 1s;
}
.left-active {
    /*transform:translateX(-1000px);*/
    transform: scale(0);
    transition: all 1s;
}
.left-active-x {
    transform:translateX(-1000px);
    transition: all 1s;
}
.left-active-x-show {
    transform: translateX(0px);
    transition: all 1s;
}
.right-active-x {
    transform:translateX(1000px);
    transition: all 1s;
}
.right-active-x-show {
    transform:translateX(0px);
    transition: all 1s;
}
.top-active-y {
    transform:translateY(-1000px);
    transition: all 1s;
}
.top-active-y-show {
    transform:translateY(0px);
    transition: all 1s;
}
.left-active-show {
    /*transform:translateX(-1000px);*/
    transform: scale(1);
    transition: all 1s;
}
.left-1-active-show {
    transform:translateX(1000px);

    transition: all 1s;
}
.left-1-active {
    transform:translateX(-1000px);

    transition: all 1s;
}
.left-1-active-show {
    transform:translateX(1000px);

    transition: all 1s;
}
.right-active {
    /*transform:translateX(1000px);*/
    transform: scale(0);
    transition: all 1s;
}
.right-active-show {
    /*transform:translateX(1000px);*/
    transform: scale(1);
    transition: all 1s;
}
.right-1-active {
    transform:translateX(1000px);

    transition: all 1s;
}
.right-1-active-show {
    transform:translateX(-1000px);

    transition: all 1s;
}
.col-left-1{
    width:400px;
    position: absolute;
    color:#fff;
    left: -1000px;
    z-index: 9;
}
.col-right-1{
    width:410px;
    position: absolute;
    color:#fff;
    right: -1000px;
    z-index: 9;
}
.gauge-content{
    width:375px;
    height:75px;
    position: absolute;
    top: 230px;
    left: 14px;
    border:1px solid #0994e5;
}
.gauge-content-1{
    width:49%;
    height:55px;
    margin-top: 10px;
    border-right: 1px solid #0994e5;
    text-align: center;
    color: #12cce3;
}
.gauge-content-2{
    width:50%;
    height:55px;
    margin-top: 10px;
    text-align: center;
    color: #12cce3;
}
.gauge-content-val{
    font-size: 30px;
    font-weight: bold;
    margin-top: -5px;
}
.gauge-content-title{
    font-size: 16px;
    margin-top: -5px;
}
.wrap-logo{
    width:150px;
    height:115px;
    position: relative;
    background: url("../img/top_left.png") no-repeat;
}
.top-company-name{
    width: 100%;
    position: absolute;
    color: #52cfff;
    top: 5px;
    text-align: center;
}
.top-right-content{
    width:795px;
    height:115px;
    position: relative;
    margin-left: 20px;
    color: #12cce3;
    background: url("../img/top-sub-bg.png") no-repeat;
}
.content-information{
    width: 230px;
    height:90px;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 14px;
}
.content-information p {
    margin-bottom: 3px;
}
.content-data{
    width:535px;
    height:115px;
    position: relative;
}
.content-data-1{
    width:100%;
    height:49%;
    padding-top: 10px;
    border-bottom: 1px solid #0994e5;
}
.content-data-2{
    width:100%;
    height:50%;
    padding-top: 10px;
}
.content-line-1{
    width: 33%;
    height: 90%;
    border-right: 1px solid #0994e5;
    text-align: center;
}
.content-line-2{
    width:33%;
    height: 90%;
    text-align: center;
    border-right: 1px solid #0994e5;
}
.content-line-3{
    width:33%;
    height: 90%;
    text-align: center;
    /*border-right: 1px solid #0994e5;*/
}
.content-col-1{
    width:25%;
    height: 90%;
    text-align: center;
    border-right: 1px solid #0994e5;
}
.content-col-2{
    width:25%;
    height: 90%;
    text-align: center;
    border-right: 1px solid #0994e5;
}
.content-col-3{
    width:25%;
    height: 90%;
    text-align: center;
    border-right: 1px solid #0994e5;
}
.content-col-4{
    width:25%;
    height: 90%;
    text-align: center;
    /*border-right: 1px solid #0994e5;*/
}
.content-line-value{
    display: inline-block;
    width: 100%;
    font-size: 26px;
    font-weight: bold;
    margin-top: -10px;
    height: 60%;
}
.content-line-des{
    font-size: 14px;
    display: inline-block;
    width: 100%;
}
.img {
    width: 328px;
    height:168px;
}
#ElecMarket{
    height: 256px;
    position: relative;
    overflow: hidden;
}
.number-bg{
    width:34px;
    display: inline-block;
    text-align: center;
    height:100%;
    background: url("../img/number_bg.png") no-repeat;
}
.enlarge{
    width:23px;
    height:23px;
    position: absolute;
    background: url("../img/enlarge.png") no-repeat;
    cursor: pointer;
    right: 45px;
    top: 15px;
}
.wrapperScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /*opacity: .7;*/
    background-color: rgba(0,0,0,.5);
    /*display: none;*/
    z-index: 99999;
}
.wrapperLayer {
    position: fixed;
    width: 1454px;
    height: 816px;
    left: 50%;
    top: 50%;
    margin-left:-727px;
    margin-top:-408px;
    z-index: 100000;
    background: transparent;
    background: url("../img/alert_bg.png") no-repeat;
    background-size:100% 100%;
}
.analysis {
    display: block;
    position: relative;
    padding: 30px;
    width: 100%;
    height: 100%;
}
.wrapperLayerAdd{
    width: 1800px;
    height: 916px;
    margin-left: -900px;
    margin-top: -418px;
}
.wrapper-title{
    width: 774px;
    height: 56px;
    background: url("../img/alert_title.png") no-repeat;
    position: absolute;
    top: 30px;
    left: 340px;
}
.wrapperLayerAdd .wrapper-title{
    top: 25px;
    left: 480px;
}
.fullScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.7;
    background-color: black;
    z-index: 9999;
}
.floatLayer {
    position: fixed;
    width: 1062px;
    height: 600px;
    left: 50%;
    top: 50%;
    margin-left:-531px;
    margin-top:-300px;
    z-index: 10000;
    background: transparent;
    background: url("../img/alert_bg.png") no-repeat;
    background-size:100% 100%;
}
.floatEchartsBox{
    padding:20px 15px 10px 20px;
    height:100%;


    /*background-color: rgb(14,29,68);

    border: 1px solid #478fb3;
    border-radius:5px;*/
    box-sizing: border-box;
}
.floatCloseBtn{top:20px;right:30px;color:#ffffff;position: absolute;}
.floatCloseBtn:hover{color:#6cf;}
.wrapper-title-content{
    width: 100%;
    height: 54px;
    line-height: 54px;
    color: #43c6fa;
    text-align: center;
    font-size: 26px;
}
.lineChart{
    width: 100%;
    height: 650px;
    display: none;
}

.lineChart-wrap{
    width: 94%;
    height: 700px;
    margin-top: 82px;
    margin-left: 45px;
}
.wrapperLayerAdd .lineChart-wrap{
    height: 800px;
}
.iframeWrapper{
    width:100%;
    height:100%;
    display: none;
}
.machineTitle{
    width: auto;
    height: 50px;
    text-align: center;
    color: #FFF;
    margin: 10px auto 0;
}
.machineBody {
    width: 100px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #43c6fa;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}
.task{
    width:96%;
    margin:3% auto 0;
    height: 89%;

}
.warnning-iframe {
    width: 1360px;
    height: 800px;
    margin: 60px auto 0;
    overflow: hidden;
}
.warnning-iframe iframe {
    margin-top: -100px;
}
.china-map {
    width: 1920px;
    position: absolute;
    min-height: 1080px;
    height: 100%;
    background-color: #000 !important;
    z-index: 9999999;
}
#china {
    background: url("../img/china.png") no-repeat center !important;
    background-size: 59% 80% !important;
    background-position-y: 129px !important;
}
.dynamicsparkline canvas {
    vertical-align: middle !important;
}
.cdCity{
       position: absolute;
    color: #fff;
    top: 223px;
    left: 315px;
    font-size: 12px;
}
.china-col-1{
    width:410px;
    position: absolute;
    top: 100px;
    left:25px;
    z-index: 9999999999999;
}
.china-col-2{
    width:410px;
    position: absolute;
    top: 100px;
    right:25px;
    z-index: 9999999999999;
}

.link-box{
    position: absolute;
    right: 40px;
    bottom: 10px;
    z-index: 9999;
}

.link-box a {
    color:  #908f8f;;
    text-decoration: none;
    padding: 0 6px 0 0;
    display: inline-block;
}

.rapper-title-toast {
    left: 144px;
    display: none;
}
.serviceTask{
    width: 100%;
    height:540px;
    position: absolute;
    background: rgba(82, 120, 189, 0.64);
    overflow-y: scroll;
    display: none;
}
.serviceTask::-webkit-scrollbar {
    display: none;
}
.serviceTask .uls{
    margin-left: 20px;
    list-style: none;
    color: #fff;

}
.serviceTask a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
.serviceTask .arrowRight{
    display: inline-block;
    width:0;
    height:0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid rgb(82,207,255);
}
.serviceTask .arrowDown,.sub-title-content .arrowDown {
    display: inline-block;
    width:0;
    height:0;
    border-left:7px solid transparent;
    border-right:7px solid transparent;
    border-top:7px solid rgb(82,207,255);
}
.serviceTask .taskTitle ul{
    margin-left: 40px;
    display: none;
}
.serviceTask .taskTitle:first-child  ul{
    display: block;
}
/*后面加的CSS*/
.onePageBtn{
    position: absolute;
    /* left: 0px; */
    right: 50px;
    top: 400px;
    border-radius: 10px 10px;
    width: 438px;
    height: 300px;
    background-color: rgba(21,27,86,0.6);
    border: 1px solid rgb(37,169,234);
    z-index: 999;
}
.deviceCountEchart{
    width: 100%;
    height: 90%;
}
.onePageBtnHref{
    position: absolute;
    left: 970px;
    top: 130px;
    z-index: 999;
    display: block;
    border-radius: 10px 10px;
    text-decoration: none;
}
.onePageBtn .sub-top-title-one{
    position: relative;
    /* top: -4px; */
    height: 10%;
    display: inline-block;
    width: 200px;
    text-align: center;
    font-size: 14px;
    padding: 4px;
    overflow: hidden;
    border-top: 1px solid #2f91ef;
    border-right: 1px solid #2f91ef;
    border-radius: 10px 10px;
    color: rgb(97, 209, 227);
    text-decoration: none;
}

.onePageBtn .sub-top-title-two{
        position: relative;
    top: -10px;
    left: 80px;
    display: inline-block;
    width: 200px;
    font-size: 14px;
    color: rgb(97, 209, 227);
    text-decoration: none;
}