{
    "presets": ["es2015"],
    "plugins": [
        "transform-class-properties",
        "transform-decorators-legacy",
        "transform-runtime",
        "transform-object-rest-spread",
        "syntax-dynamic-import"
    ]
}