/*********************************************************************
 * Created by deming-su on 2017/9/13                                 *
 *********************************************************************/

/* 通用样式 ---start---*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #10223a;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.font-color-red{
    color: #ff2121;
}
.font-color-dd{
    color: #1bdd7c;
}
/* 通用样式 ---end---*/

/* 主体样式 ---start---*/
.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    /*background-color: #10223a;*/
    background: url('../images/background.png') no-repeat;
    background-size: cover;

    overflow: hidden;
}
.container > .header {
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 60px;
}
.container > .article {
    position: absolute;
    top: 52px;
    left: 0;
    width: 100%;
    bottom: 0;
/*         padding: 0px 0px 25px 24px; */
padding:0;
}

/* 主体样式 ---end---*/