/*********************************************************************
 * Created by deming-su on 2017/9/13                                 *
 *********************************************************************/
@font-face {
    font-family: myFirstFont;
    src: url('../myFirstFont.ttf');
}

.header-box {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.header-box:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.header-box > .left-img {
    display: block;
    width: 18%;
    height: 140%;
    margin: 0;
    padding: 0;
    float: left;
}

.header-box > .right-img {
    display: block;
    width: 18%;
    height: 140%;
    margin: 0;
    padding: 0;
    float: right;
    vertical-align: bottom;
}

.header-box > .middle-img {
    width: 35%;
    height: 140%;
}

.header-box > .left-title {
    position: absolute;
    width: 50%;
    left: 0;
}

.header-box > .right-title {
    position: absolute;
    width: 50%;
    right: 0;
}

.header-box > .left-title > .title,
.header-box > .right-title > .title {
    text-align: center;
    display: inline-block;
    font-size: 36px;
    font-weight: bolder;
    line-height: 60px;
    letter-spacing: 6px;
    cursor: pointer;
}

.header-box > .header-img{
     display: block;
     width: 100%;
 }
.header-box > .title{
    position: absolute;
    top: 0;
    left: 723px;
    display: inline-block;
    font-size: 36px;
    font-weight: bolder;
    line-height: 60px;
    text-indent: 30px;
    letter-spacing: 6px;

}
.header-box > .hearder-text {
    display: inline-block;
    vertical-align: middle;
}
.header-box > p{
    position: absolute;
    top: 0;
    font-size: 20px;
    color: #4c8eec;
    line-height: 52px;
    margin: 0;
    font-family:myFirstFont;
    text-shadow: 0 0 16px #166ce7, 0 0 16px #166ce7;
}

#data{
    left: 56px;
}
#time{
    right: 56px;
}
.title{
    color: #ffffff;
    text-shadow: 0 0 16px #4392ff, 0 0 16px #4392ff;
}
.article-box {
    display: block;
    height: 100%;
}
/*图标的样式*/

.article .article-box {
	height: 485px;
	float: left;
    width:50%;
    margin:0;
    position: relative;
}

/* .article .article-box:first-child {
    margin-bottom: 14px;
} */
.article .article-box{
	background: url(../images/modular.png) no-repeat;
	background-size: 100% 100%;
}
.article .article-box .graph {
    display: inline-block;
    float: left;
    /*width: 91420:40 2017-9-17px;*/
    height: 100%;
    width: 100%;
    /*background: url("../../assets/images/modular.png") no-repeat;*/
    /*background-size: cover;*/
    margin-right: 14px;
    padding: 0 7px;
}

#pieChart{
    width: 380px;
    height: 100%;
    margin-left: 30px;
    margin-top: 20px;
}
.article-box .graph > p{
    position: absolute;
    height: 46px;
    margin-top: 12px;
    width: 909px;
    font-size: 20px;
    text-align: center;
}
.article-box .graph > p .title{
    display: inline-block;
    width: 214px;
    height: 46px;
    line-height: 34px;
    background: url("../images/pei_title.png") no-repeat;
    background-size: cover;
}
.chart_right{
    position: absolute;
    top: 62px;
    right: 40px;
    width: 500px;
}
.chart_right > ul {
    width: 700px;
    right: 0;
    position: absolute;
}
.chart_right,
.year-data{
    color: #F7F159;
    text-align: right;
}
.article-box .graph .chart_right ul{
    margin-bottom: 15px;
}
.article-box .graph .chart_right ul li{
    text-align: center;
    margin: 0 15px;
    /* width: 33.33%; */
    /* box-sizing: border-box; */
    /* border: 1px solid green; */
    /* float: left; */
}
.chart_right ul li p,
.year-data ul li p{
    font-size: 12px;
    margin: 0;
    color: rgba(247,241,89,0.6);
}
.article-box .graph .chart_right ul li b{
    font-size: 20px;
}
.article-box .graph .chart_right .line{
     width: 450px;
    min-height: 160px;
    background: url("../images/line.png") no-repeat;
    background-size: 100% 100%;
    float: right;
    /* padding-top: 22px; */
    /* padding:0; */
    /* margin-top: 40px; */
    overflow: hidden;
    padding: 20px;
    /* margin-bottom: 24px; */
}
.article-box .graph .chart_right .line.first{
    margin-top: 60px;
}

.article-box .graph .chart_right .line b.font-size-26{
    font-size: 24px;
}
.article-box .graph .chart_right .line ul{
    width: 100%;
}
.article-box .graph .chart_right .line img{
    position: absolute;
    margin-left: -15px;
}
/*.article-box .graph .chart_right .line .font-color-dd img{*/
    /*margin-top: 20px;*/
/*}*/
.article-box .graph .chart_right .line .font-color-dd .indicator-icon-down{
    margin-top: 15px;
}
.article-box .graph .chart_right .line ul:last-child li{
    width: 40%;
    margin-right: -15px;
}
.year-data{
    position: absolute;
    margin-top: 60px;
    width: 100%;
}
.year-data ul{
    width: 100%;
}
.year-data ul li{
    width: 20%;
    margin-right: -15px;
}
.year-data > p{
    height: 50px;
    width: 842px;
    color: #ffffff;
    font-size: 16px;
    margin: 20px auto 0;
    background: url("../images/year-detail.png") no-repeat;
    background-size: cover;
}
.pie-legend li label{
    display: inline-block;
    width: 24px;
    height: 12px;
    border-radius: 2px;
    vertical-align: middle;
    background-color: #42f0d7;
}
.pie-legend{
    position: absolute;
    width: 500px;
    margin-left: 20px;
    margin-top: -92px;

}
.pie-legend li{
    color: #42f0d7;
    width: 20%;
    margin-right: -5px;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
}
.pie-legend li.colorF label{
    background-color: #F39221;
}
.pie-legend li.colorF{
    color: #F39221;
}
.pie-legend li.color4 label{
    background-color: #4c8eec;
}
.pie-legend li.color4{
    color: #4c8eec;
}
.pie-legend li.color1 label{
    background-color: #1bdd7c;
}
.pie-legend li.color1{
    color: #1bdd7c;
}
#yearChart,
#ecoChart{
    width:842px;
    height: 296px;
    margin: 116px auto 0;
}
#yearChart + ul.pie-legend{
    width: 840px;
    position: absolute;
    margin-top: 27px;
}
#yearChart + ul.pie-legend label{
    background-color: transparent;
}
.market_left{
    float: left;
    color: #F7F159;
    font-size: 26px;
    margin-top: 46px;
}
.market_left p{
    color: rgba(247,241,89,0.6);
    font-size: 12px;
    padding: 0;
    margin: 0;
}
.market_left .line{
    padding-top: 24px;
}
.market_left .line > p{
    color: #4c8eec;
    font-size: 14px;
    margin:0 0 12px 0;
}
.market_left .line:first-child > p{
    color: #39d8cf;
}
.market_left .line:last-child >p{
    color: #8470e9;
}
.market_left .line{
    height: 134px;
    width: 336px;
    margin-left: 24px;
    background: url("../images/detail_title.png") no-repeat;
    background-size: cover;
    text-align: center;
}
#marketChart{
    display: inline-block;
    width: 530px;
    height: 430px;
}
#powerChart {
    height: 370px;
    width: 852px;
    margin: 50px auto 0;
}
#generationChart1,
#generationChart2,
#generationChart3{
    display: inline-block;
    height: 370px;
    width: 284px;
    margin-top: 50px;
}
.market_left ul{
    width: 100%;
}
.market_left ul li{
    width: 50%;
    margin-right: -15px;
}
.swiper-button-white{
   background: transparent;
    display: none;
}
.grid{
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    left: 42px;
    top: 50px;
}
.grid p{
    margin-bottom: 5px;
    color:rgba(247,241,89,0.6);
}
.grid b{
 display: inline-block;
}
.grid b span{
    display: inline-block;
    width: 23px;
    font-size: 20px;
    padding: 0;
    margin-right: 3px;
    background: url(../images/install.png) no-repeat;
    text-align: center;
}
.grid-data{
    width: 240px;
    height: 405px;
    position: absolute;
    right: 42px;
    top: 47px;
}
.grid-data ul{
    width: 100%;
}
.grid-data ul li{
    /*display: inline-block;*/
    /*width: 130px;*/
    /*height: 78px;*/
    /*margin-right: -15px;*/
    /*text-align: center;*/
    /*padding-top: 18px;*/
    /*background: url("../../assets/images/model2.png") no-repeat;*/
    /*background-size: cover;*/
}
.grid-data ul p{
    margin: 0;
    font-size: 12px;
}
.grid-data ul li{
    color: #F7F159;
}
.grid-data ul li p{
    color: rgba(247,241,89,0.6);
}
.grid-data ul li:nth-child(odd){
    color: #F7F159;
}
.grid-data ul li:nth-child(odd) p{
    color: rgba(247,241,89,0.6);
}
.grid-data ul li.last{
    color: #39D8CF;
}
.grid-data ul li.last p{
   color: rgba(57,216,207,0.6);
}

.grid-data ul {
    font-size: 22px;
}

.inline-list{
	
}
.inline-list > li{
    margin:0 !important;
    width:33.33% !important;
    float:left;
}
.inline-list:last-child{
	margin-bottom: 0 !important;
}

.indicator-icon{
	width: 10px;
}
/* 向上的红箭头 */
.indicator-icon-up{
margin-top:10px;
}
/* 向下的蓝箭头 */
.indicator-icon-down{
margin-top: 15px;
}

/* 网架结构 start */
/* 右侧的数据列表 */
.grid-data{

}
.grid-data-list-title{
	color: rgba(247,241,89,0.6);
	margin:0;
	font-size:14px;
    text-align: center;
}
.grid-data-list{
	width: 100%;
}
.grid-data-list > li{
	  display: block;
	  width: 100%;
	  height: 78px;
	  text-align: center;
	  padding: 1px 0 0;
	  background: url("../images/model2.png") no-repeat;
	  background-size: 100% 100%;
	 }

.grid-data-list > li > p{
	margin: 15px 0 0;
}
/*定位城市*/
.battery{
    position: absolute;
    width: 70px;
    height: 26px;
    cursor: pointer;
}
.battery-f{
    top: 226px;
    left: 96px;
}
.battery-s{
    top: 227px;
    left: 25px;
}
.battery-first{
    top: 148px;
    left: 5px;
}

.battery-second{
    top: 242px;
    left: 70px;
}
.battery-third{
    top: 252px;
    left: 96px;
}

.battery-four{
    top: 240px;
    left: 145px;
}

.battery-fifth{
    top: 242px;
    left: 121px;
}
.battery-sixth{
    top: 228px;
    left: 164px;
}



.battery-first > .first,
.battery-second > .first,
.battery-third > .first,
.battery-four > .first,
.battery-fifth > .first,
.battery-f > .first,
.battery-s > .first,
.battery-sixth > .first {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 36px;
    height: 26px;
    background: url("../images/start_icon.png") no-repeat;
    z-index: 8;
}
.battery-first > .second,
.battery-second > .second,
.battery-third > .second,
.battery-four > .second,
.battery-f > .second,
.battery-s > .second,
.battery-fifth > .second,
.battery-sixth > .second{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 36px;
    height: 26px;
    background: url('../images/end_icon.png') no-repeat;
    animation: myfirst 1.5s infinite;
    z-index: 9;
}
@keyframes myfirst {
    0%   {
       opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes myfirst /* Firefox */
{
    0%   {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
    0%   {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes myfirst /* Opera */
{
    0%   {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*点击弹出框的样式*/
.popup{
    position: absolute;
    width: 643px;
    height: 386px;
    background: url("../images/pop3.png") no-repeat;
    background-size: 100% 100%;
    z-index: 100;
    top: 68px;
    left: 38px;
    display: none;
}
.popup p{
    color:#F7F159;
    font-size: 20px;
    text-align: center;
}
.popup1{
    background:url("../images/pop1.png") no-repeat;
    background-size: 100% 100%;
}
.popup2{
    background:url("../images/pop2.png") no-repeat;
    background-size: 100% 100%;
}
.pop4{
    background:url("../images/pop4.png") no-repeat;
    background-size: 100% 100%;
}
#installChart,
#instChart,
#insChart,
#passChart{
    width: 643px;
    height: 380px;
    margin-top: -65px;

}
#articleBox{
    background: url("../images/scmap.png") no-repeat;
    background-size: 100% 100%;
}
#articleBox .map{
    position: absolute;
    top: 70px;
    left: 42px;

}

#articleBox ul li:hover div,
#articleBox ul li:focus div,
#articleBox ul li.select div{
    background-color: rgba(23,51,81,1);
}
#articleBox ul li div{
    width: 219px;
    margin: 9px auto;
    height: 58px;
    padding-top: 5px;
    background-color: rgba(23,51,81,0);
    transition:background 1s;
    -moz-transition:background 1s;
    -webkit-transition:background 1s;
    -o-transition:background 1s;
}
/* 网架结构 end */


/* 月度的底部legend start */
.month-pie-legend{
	width: 100% !important;
	margin: 22px 0 0 55px !important;
	height:50px;
}
.month-pie-legend > li{
	width: 25%;
	display:block;
	float:left;
	margin:0;
}
.color-orange{
	color: #F39221 !important;
}
.color-sky{
	color: rgba(66,240,215,1) !important;
}
.color-blue{
	color: rgba(76,142,236,1) !important;
}
.color-green{
	color: rgba(27,221,124,1) !important;
}
/* 月度的底部legend end */

.market-chart > img{
	display: block;
	margin: 110px 0 0 40px;
	/* vertical-align: middle; */
	/* margin: 100px; */
	/* width: 550px; */
	/* height: 327.6px; */
}

.month-pie-legend {}
.month-pie-legend .swiper-wrapper{
	color: #fff;
}

.year-data b{
	font-size:21px;
	/*font-weight: 500;*/
}

/* 向上的红箭头 */
.year-data .indicator-icon-up{
	margin-top:0;
}
/* 向下的蓝箭头 */
.year-data .indicator-icon-down{

}
#articleBox .grid-data-list li{
    cursor: pointer;
}

/*日发电量倒计时*/
.daily-power-counter-wrapper{
	top:30px;
}
/* 年度销售指标的头部的5个指标 */
.year-sales-top-legend{
	letter-spacing:1px;
}



.article-box .graph .chart_right li{
	margin: 0px 22px;
}

.year-sales-top-legend li{
	margin: 0px 20px;
}


/*月度 start */
.month-article-box{
	
}
.month-article-box > .graph{
	width:100% !important;
}
.month-article-box > .graph > p{
	width: 100%;
}
/*月度 end */

/*网架的浮层 start*/
#floatingLayer{
    display: none;
    position: absolute;
    width: 244px;
    height: 150px;
    background: url("../images/float.png") no-repeat;
    background-size: 100% 100%;
    color: #F7F159;
    font-size: 12px;
    z-index: 999;
}
#floatingLayer ul,
#floatingLayer ul li{
    display: block;
}

#floatingLayer p{
    text-align: center;
    margin: 0;
    padding: 10px 0 5px;
}
#floatingLayer ul{
    margin-left: 10px;
}
#floatingLayer label{
    display: inline-block;
    color: rgba(247,241,89,0.6);
    font-size: 12px;
    transform: scale(0.8);
}
#close{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    text-align: right;
    cursor: pointer;
}
#close i{
    font-size: 12px;
    display: inline-block;
    transform: scale(0.8);
}
#passData,
#insData{
    position: absolute;
    bottom: 10px;
    text-align: left;
    width: 100%;
    margin-left: 10px;
}
#passData label{
    display: inline-block;
    width: 70px;
}
#passData span{
    display: inline-block;
    width: 24px;
    height: 12px;
    margin-right: 5px;
}
/**/
#passData .index0{
    /*color: #4c8eec;*/
    color: #5dfb99;
}
#passData .index0 span{
    /*background-color: #4c8eec;*/
    background-color: #5dfb99;
}
#passData .index1{
    color: #65CFDF;
}
#passData .index1 span{
    background-color: #65CFDF;
}
#passData .index2{
    /*color: #0053C9;*/
    color: #1AD879;
}
#passData .index2 span{
    /*background-color: #0053C9;*/
    background-color: #1AD879;
}
#passData .index3{
    color: #3f7fff;
}
#passData .index3 span{
    background-color: #3f7fff;
}
#passData .index4{
    color: #f3cd56;
}
#passData .index4 span{
    /*background-color: #f3cd56;*/
    background-color: #f3a956;
}
#passData .index5{
    color: #cf8bdf;
}
#passData .index5 span{
    background-color: #cf8bdf;
}
#passData .index6{
    color: #f7a550;
}
#passData .index6 span{
    background-color: #f7a550;
}
#passData .index7{
    color: #FC6360;
}
#passData .index7 span{
    background-color: #FC6360;
}
#passData label.select{
    color: #333333;
}
#passData label.select span{
    background-color: #333333;
}

#insData{
    text-align: center;
}

#insData label{
    display: inline-block;
    width: 70px;
}
#insData span{
    display: inline-block;
    width: 24px;
    height: 12px;
    margin-right: 5px;
}
#insData .index0{
    color: #F39221;
}
#insData .index0 span{
    background-color: #F39221;
}
#insData .index1{
    color: #7F6DD8;
}
#insData .index1 span{
    background-color: #7F6DD8;
}
#insData .index2{
    color: #3E7FDB;
}
#insData .index2 span{
    background-color: #3E7FDB;
}
#insData .index3{
    color: #22c6bf;
}
#insData .index3 span{
    background-color: #22c6bf;
}
#insData .index4{
    color: #D4AA62;
}
#insData .index4 span{
    background-color: #D4AA62;
}
#insData label.select span{
    background-color: #333333;
}

/*网架的浮层 end*/

#map{
    width: 110%;
    height: 85%;
    margin: 70px auto 0;
}