/*.test-area{*/
    /*position: absolute;*/
    /*width:1920px;*/
    /*height:1020px;*/
    /*top:60px;*/
    /*margin:0 auto;*/
    /*background: url("../indeximgs/背景.png") no-repeat;*/
    /*background-size: 100%  100%;*/
    /*z-index: -1000;*/
/*}*/


/*content-内容*/
.content{
    /*height:760px;*/
    position: absolute;
    width:1920px;
    height:1020px;
    top:59px;
    margin:0 auto;
    /*background: url("../indeximgs/没有电站新.png") no-repeat;*/
    background: url("../indeximgs/indexbox.png") no-repeat;
    background-size: 100%  100%;
    z-index: -10;
}
/*左边*/
.contentLeft{
    float: left;
    width:19%;
    height:91%;
    /*margin-left: 20px;*/
    position: absolute;
}

/*进入首页显示的left*/
.powerList{
    margin-top:0%;
    height:92%;
    width:100%;
    position: relative;
}
.list-left{
    width:13%;
    height:100%;
    text-align: center;
    font-size: 20px;
    color: #40ccdd;
    float: left;
    position: relative;
    background: url("../indeximgs/lefttitle.png");
    background-size: 100% 100%;
}
.left-icon{
    width:15px;
    height:15px;
    margin-left: 40%;
    text-align: center;
    background: url("../indeximgs/jiantou.png") no-repeat;
    background-size: 100% 100%;
}
.list-right{
    width:87%;
    height:100%;
    background: url("../indeximgs/leftbox.png") no-repeat;
    background-size: 100% 100%;
    float: left;
    position: absolute;
    left:-87%;
    z-index: -1;
   }
.list-right table{
    margin:8% auto;
    width:96%;
    /*height:100%;*/
    text-align: left;
    color: #40ccdd;
    font-size: 16px;
}
.list-right table td{
    padding-left: 8%;
    padding-bottom: 2%;
}

/*左边点击后显示的内容*/
.show_content{
    width:100%;
    height:100%;
    position: relative;
    top:-62px;
}
.show_content  .sc_1_top{
    width:98%;
    height:324px;
    background: url("../indeximgs/left2.png");
    background-size: 100% 100%;
    padding-left: 2%;
}
.show_content  .sc_1_top h3{
    font-size: 24px;
    padding:7% 0 0 5%;
    color: #40ccdd;
}
.show_content  .sc_1_top span{
    width:70%;
    height:60%;
    margin-top: 5%;
    margin-left:20%;
    display: inline-block;
    background: url("../indeximgs/3wei.png") no-repeat;
    background-size: 100% 100%;
}

/*点击-center*/
.show_content .sc_1_center{
    width:100%;
    height:185px;
    background: url("../indeximgs/left2.png");
    background-size: 100% 100%;
}
.show_content  .sc_1_center h3{
    font-size: 24px;
    padding:3% 0 0 5%;
    color: #40ccdd;
}
.sc_1_center p{
    padding:3% 5% 0 15%;
    color: #40ccdd ;
    font-size: 18px;
}
.sc_1_center p span{
    margin:2% 4%;
}

/*点击-bottom*/
.show_content .sc_1_bottom{
    width:100%;
    height:418px;
    background: url("../indeximgs/left1.png");
    background-size: 100% 100%;
}
.show_content  .sc_1_bottom h3{
    font-size: 24px;
    padding:8% 0 0 5%;
    color: #40ccdd;
}
.show_content  .sc_1_bottom .sc_1_bottom_content{
    margin:5% 0 0 7%;
    width:82%;
    height:70%;
}
.show_content  .sc_1_bottom .sc_1_bottom_content p{
    padding:0 0 2% 0%;
    color: #40ccdd ;
    font-size: 16px;
}
.bc_btn span{
    display: inline-block;
    width:146px;
    height:50px;
    background: url("../indeximgs/btn1.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}


/*中间*/
.contentCenter{
    float: left;
    width:58%;
    height:22%;
    /*margin: 0px 10px 0 20px;*/
    margin:0 auto;
    position: absolute;
    left:20%;
}


/*中间的标题*/
.center-title{
    width:80%;
    margin:2% auto;
    height:90%;
    background: url("../indeximgs/center.png") no-repeat;
    background-size: 100% 90%;
}
.center-title ul{
    margin:0 3%;
}
.center-title ul li{
    width:19%;
    display: inline-block;
    float: left;
    margin-top:3%;
    margin-left: 0%;
    text-align: center;
    font-size: 20px !important;
    color: #40ccdd;
    position: relative;
}
.center-title ul li h3{
    line-height: 60px;
    text-align: center;
}
.center-title ul li p{
    font-size: 14px;
    text-align: center;
}
.center-title ul li p span{
    display: inline-block;
    padding: 0 10px;
    font-size:40px;
    color: #0feb8b ;
    font-weight: bold;
    cursor: pointer;
    /*width:50px;*/
}


/*预警的提示框*/
#promptbox{
    position: absolute;
    width:480px;
    min-height:110px;
    background: url("../indeximgs/promptbox.png");
    background-size: 100% 100%;
    top:140px;
    left:-150px;
}
#promptbox p{
    /*height:20px;*/
    margin-top: 20px;
    margin-left: 20px;
}
#promptbox p span{
    font-size: 18px;
    float: left;
    color: #40ccdd;
}

/*中间的地图*/
.center-area{
    width:1100px;
    height:590px;
    position: relative;
    top:-24px;
    border: 2px solid green;

}

/*地图上的原点*/
.circle{
    display: inline-block;
    width:20px;
    height:20px;
    border-radius: 50% 50%;
    background-color: #BABABA ;
}

/*地图上小点的定位*/
.area{
    width:12px;
    height:12px;
    position: absolute;
    /*border: 1px solid red;*/
}
.area span{
    float: left;
    font-size: 18px;
    color:#FFFFFF;
}
.warningMess{
    width:80%;
    height:78%;
    margin:4% auto;
}
.warningMess .warningMess-1{
    width:100%;
    height:50%;
}
.warningMess  p{
    color: #40ccdd;
    font-size: 14px;
    margin:2% 0;
}
.warningMess ul li{
    font-size: 14px;
    margin:5% 0;
}

/*右边*/
.contentRight{
    float: right;
    /*border:1px solid #47ffe7;*/
    width:21%;
    height:918px;
    position: fixed;
    right:0;
    /*top:-50px;*/
}

/*点击地图时*/
.contentRight-clickShow{
    display: none;
    width:100%;
    height:100%;
    position: absolute;
    top:-11px;
}
.cr1,.cr2,.cr3{
    width:100%;
    height: 228px;
    background: url("../indeximgs/box1.png") no-repeat;
    background-size:100% 100%;
    margin-bottom: -40px;
    position: relative;
    font-size: 18px;
    color: #40ccdd;
}
.cr1-title{
    font-size:24px;
    color: #40ccdd;
    position: absolute;
    top:36px;
    left:46px;
    width:76%;
}
.cr1-text{
    width: 80%;
    height: 30%;
    margin: 0 auto;
    padding-top: 18%;
    text-align: left;
}
.cr1-text p{
    height: 35px;
    line-height: 35px;
}
.cr1-text p span{
    float: right;
    font-family:'huxiaobo-gdhc664d967219ef1';
    color: #0feb8b;
    font-size: 30px;
    margin-right: 10px;
}
.cr1-text p.textfirstp{
    margin:6% 0 2% 0
}
 /*.cr1-title span{*/
    /*color: #0feb8b ;*/
    /*margin-left:100px;*/
/*}*/
/*右边未点击地图时*/
.rightBox{
    width:100%;
    height:100%;
    position: absolute;
    top:50px;
    text-align: center;
    color: #40ccdd ;
    font-size: 20px;
}
.rightBox  .rb{
    position: relative;
    height:160px;
    margin-bottom: 16px;
}
/*.rb-1{*/
    /*width:100%;*/
    /*height:24%;*/
    /*!*text-align: center;*!*/
    /*!*color: #40ccdd ;*!*/
    /*!*font-size: 20px;*!*/
    /*position: relative;*/
    /*margin-bottom: 10%;*/
/*}*/

.rb-left{
    width:87%;
    height:100%;
    background: url("../indeximgs/right.png") no-repeat;
    background-size:100% 100%;
    float: right;
    position: absolute;
    right:-87%;
    z-index: -1;
    text-align: left;
    padding-left: 8%
}
.rb-left>p>span{
    float: right;
    font-family:'huxiaobo-gdhc664d967219ef1';
    color: #0feb8b;
    font-size: 30px;
    margin-right: 5%;
}
.rb-right{
    float: right;
    width:13%;
    height:100%;
    background: url("../indeximgs/righttitle.png") no-repeat;
    background-size:100% 100%;
}
/*.rb2-left,.rb3-left{*/
    /*width:87%;*/
    /*height:100%;*/
    /*background: url("../indeximgs/右中下.png") no-repeat;*/
    /*background-size:100% 100%;*/
    /*float: right;*/
    /*position: absolute;*/
    /*right:-87%;*/
    /*z-index: -1;*/
/*}*/
/*.rb2-left p ,.rb3-left p{*/
    /*height: 15%;*/
    /*line-height: 10%;*/
/*}*/
/*.rb2-right,.rb3-right{*/
    /*width:13%;*/
    /*height:100%;*/
    /*background: url("../indeximgs/浮窗右中.png") no-repeat;*/
    /*background-size:100% 100%;*/
    /*float: right;*/
/*}*/
/*.rb-2,.rb-3{*/
    /*height:35%;*/
    /*margin-bottom: 10%;*/
    /*position: relative;*/
/*}*/
.right1-icon,.right2-icon,.right3-icon,.right4-icon,.right5-icon{
    width:12px;
    height:12px;
    text-align: center;
    margin-left: 5%;
    background: url("../indeximgs/jiantou2.png") no-repeat;
    background-size: 100% 100%;
}

/*弹窗*/
.mask{
    position: fixed;
    top:0;
    width:100%;
    height:100%;
    z-index: 1000;
    background-color: rgba(0,0,0,0.6);
    display: none;
}
.mask .mask-box{
    width:55%;
    height:65%;
    z-index: 1111;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: url("../indeximgs/tankuang.png") no-repeat;
    background-size: 100% 100%;
    padding: 2% 2%;
    color: #40ccdd;
    font-size: 20px;
}
.mask-box_title{
    width:60%;
    margin-top: 52px;
    margin-left: 330px;
}
.mask-box_title li{
    float: left;
    margin-right: 20px;
    cursor: pointer;
    color: #237085;
}
.pitchon{
    color: #40ccdd !important;
}
.mask-box_content{
    width:100%;
    height:70%;
    margin-top: 116px;
    overflow: hidden;
}
.mask-box_content li{
    float: left;
    width:98%;
    height:98%;
    display: none;
}
.mask-show{
    display: block !important;
}

/*底部的线*/
footer{
    height: 60px;
    position: fixed;
    bottom:0;
    width:100%;
}
.foot{
    width:100%;
    height:100%;
    display: none;
}
.catenatelist{
    width:900px;
    margin:0 auto;
    font-size: 20px;
    color: #fff;
}
.catenatelist>div{
    float: left;
    position: relative;
 }
.catenatelist>div>p{
    cursor: pointer;
}
.catenatelist>div>p>span{
    display: inline-block;
    margin-left: 16px;
    width:160px;
    font-size: 16px;
    border-bottom: 1px solid #fff;
}

.catenatelist>div ul li{
    cursor: pointer;
}
.catenatelist>div>ul {
    position: absolute;
    top:-86px;
    left:106px;
    display: none;
}
.catenatelist>.catenatelist2>ul {
    position: absolute;
    top:-112px;
    left:106px;
    cursor: pointer;
}

/*css3电站点动画样式*/
@-webkit-keyframes opac{
    from { visibility:visible;opacity: 1;width:0;height:0;top:50%;left:50%;}
    to {opacity : 0;width:100%;height:100%;top:0;left:0;}
}
.w1,.w2,.w3{visibility: hidden;}
.animate .w1{
    visibility:visible;
    -webkit-animation:opac 1.5s infinite;
}
.animate .w2{
    -webkit-animation:opac 1.5s infinite;-webkit-animation-delay:.3s;
}
.animate .w3{
    -webkit-animation:opac 1.5s infinite;-webkit-animation-delay:.6s;
}
.wave{width:50px;height:50px;position:absolute;top:-17px;left:-18px;}

.wave *{border:3px solid #ff022a;position:absolute;border-radius:50%;}
