.timer-count-wrapper{
	height: 28px;
	overflow:hidden;
}

.timer-count-column{
    float:left;
    width:20px;
    margin: 0 5px 0 0;
    text-align:center;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

.column-item{
	background: url(../../assets/images/install.png) no-repeat;
	font-size:20px;
	background-size: 100% 100%;
	font-weight: 600;
	color: #fff;
}