.button-box {
  display: inline-block;
  cursor: pointer;
  .button {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    border: 1px solid @border-color;
    background-color: @bg-color-light;
    &.disabled {
      color: @font-color-light;
      cursor: not-allowed;
    }
    &.big {
      padding: 0 @button-padding;
      height: @form-widget-big-height;
      line-height: @form-widget-big-height;
    }
    &.normal {
      padding: 0 @button-padding;
      height: @form-widget-height;
      line-height: @form-widget-height;
    }
    &.mini {
      padding: 0 @button-padding;
      height: @form-widget-mini-height;
      line-height: @form-widget-mini-height;
    }
    &.default {
      &:hover {
        background-color: @bg-color-white;
      }
    }
    &.default {
      &.disabled {
        &:hover {
          background-color: @bg-color-light;
        }
      }
    }
    &.primary {
      color: @bg-color-white;
      background-color: @bg-button-primary;
      &:hover {
        background-color: @bg-hover-primary;
      }
      &.disabled {
        color: @font-disable-primary;
        background-color: @bg-disable-primary;
        &:hover {
          background-color: @bg-disable-primary;
        }
      }
    }
    &.success {
      color: @bg-color-white;
      background-color: @bg-button-success;
      &:hover {
        background-color: @bg-hover-success;
      }
      &.disabled {
        color: @font-disable-success;
        background-color: @bg-disable-success;
        &:hover {
          background-color: @bg-disable-success;
        }
      }
    }
    &.warning {
      color: @bg-color-white;
      background-color: @bg-button-warning;
      &:hover {
        background-color: @bg-hover-warning;
      }
      &.disabled {
        color: @font-disable-warning;
        background-color: @bg-disable-warning;
        &:hover {
          background-color: @bg-disable-warning;
        }
      }
    }
    &.error {
      color: @bg-color-white;
      background-color: @bg-button-error;
      &:hover {
        background-color: @bg-hover-error;
      }
      &.disabled {
        color: @bg-color-white;
        background-color: @bg-disable-error;
        &:hover {
          background-color: @bg-disable-error;
        }
      }
    }
  }
}