/* 这里定义公共变量和函数 */
@primary-color: #407dd1;
@primary-color-light: #62a5ff;
@primary-color-dark: #27508d;
@parallax-color: #79eead; // 普通
@success-color: #3cbb5b; // 成功
@warning-color: #ff8441; // 警告
@error-color: #d93b25; // 错误
@font-color-dark: #333; // 标题
@font-color: #666; // 文字内容
@font-color-light: #999; // 失效文字
@border-color: #dcdcdc; // 边框色
@border-color-input: #ccc; // 边框色
@border-color-focus: #66afe9;
@bg-color-dark: #333743; // 背景色  深色
@bg-color: #d9dee4; // 背景色  普通
@bg-color-light: #f0f0f0; // 背景色  浅色
@bg-color-white: #ffffff;
@input-font-color: #555;
/* 按钮相关颜色 */
@bg-button-primary: #407dd1;
@bg-hover-primary: #62a5ff;
@bg-disable-primary: #81a5d7;
@font-disable-primary: #c2d5f0;
@bg-button-success: #3cbb5b;
@bg-hover-success: #79eead;
@bg-disable-success: #8ad69d;
@font-disable-success: #e0f4e5;
@bg-button-warning: #ff8441;
@bg-hover-warning: #ffa33f;
@bg-disable-warning: #ffb58d;
@font-disable-warning: #fff3ec;
@bg-button-error: #d93b25;
@bg-hover-error: #d95326;
@bg-disable-error: #e8897c;
/* 输入框禁用 */
@bg-input-disabled: #eee;

/* 按钮左右padding尺寸 */
@button-padding: 20px;

/* 表单元素尺寸 */
@form-widget-mini-height: 24px;
@form-widget-height: 32px;
@form-widget-big-height: 40px;

/* transform */
.transform(@type) {
  -webkit-transform: @type;
  -moz-transform: @type;
  -ms-transform: @type;
  -o-transform: @type;
  transform: @type;
}