.input {
  outline: none;
  padding: 0 8px;
  margin: 0 3px;
  background-color: @bg-color-white;
  border: 1px solid @border-color-input;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  font-size: 12px;
  line-height: 1.42857143;
  color: @input-font-color;
  &[readonly],
  &[disabled] {
    background-color: @bg-input-disabled;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  }
  &:focus {
    border-color: @border-color-focus;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  }
  &.big {
    height: @form-widget-big-height;
  }
  &.normal {
    height: @form-widget-height;
  }
  &.mini {
    height: @form-widget-mini-height;
  }
}