// tooltip

.lensyn_tooltip {
  display: none;
  box-sizing: border-box;
  position: fixed;
  z-index: 999;
  height: @tooltip-height;
  line-height: @tooltip-height;
  background-color: @tooltip-bg;
  color: @tooltip-color;
  padding: 0 @tooltip-padding;
  border-radius: 4px;
  text-align: center;
  .lensyn_tooltip_after {
    position: absolute;
    border: 6px solid transparent;
    &.top {
      border-top-color: @tooltip-bg;
      left: 50%;
      bottom: -12px;
      margin-left: -6px;
    }
    &.bottom {
      border-bottom-color: @tooltip-bg;
      left: 50%;
      top: -12px;
      margin-left: -6px;
    }
    &.left {
      border-left-color: @tooltip-bg;
      right: -12px;
      top: 50%;
      margin-top: -6px;
    }
    &.right {
      border-right-color: @tooltip-bg;
      left: -12px;
      top: 50%;
      margin-top: -6px;
    }
  }
  &.show {
    display: block;
  }
}